<%= form_with model: @recipe do |f| %>
  Ingredients:
  <ul>
    <%= f.fields_for :ingredients do |ingredients| %>
      <li>
        <%= ingredients.label :kind %>
        <%= ingredients.text_field :kind %>
 
        <%= ingredients.label :street %>
        <%= ingredients.text_field :street %>
        ...
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @recipe do |f| %>
  Instructions:
  <ul>
    <%= f.fields_for :instructions do |instructions| %>
      <li>
        <%= instructions.label :kind %>
        <%= instructions.text_field :kind %>
 
        <%= instructions.label :street %>
        <%= instructions.text_field :street %>
        ...
      </li>
    <% end %>
  </ul>
<% end %>