<div class="card">
  <header class="card-header">
      <p class="card-header-title">
        <%= recipe.title %>
      </p>
      <a href="#" class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </a>
    </header>
    <div class="card-content">
      <div class="content">
        <%= recipe.description %>
      </div>
    </div>
    <% unless local_assigns[:index] %>
      <footer class="card-footer">

      
        <%= link_to "Show", recipe_path(recipe), class: "card-footer-item" %>
        <%= link_to "Delete", recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure you want to delete this cocktail recipe?'}, class: "card-footer-item" %>
        <%= link_to "Back", root_path, class: "card-footer-item" %>
      
      </footer>

      <article class="panel is-success">
        <p class="panel-heading">
          Ingredients needed for preparing
        </p>
        <p class="panel-tabs">

          <% recipe.ingredients.each do |ingredient| %>
            <ul>
              <li>
                <%= ingredient.body %>
              </li>
            </ul>
          <% end %>
        </p>

        <footer class="card-footer">
          <%= link_to "Edit/Delete instructions",class: "card-footer-item" %>
        </footer>
      </article>

      <article class="panel is-success">
        <p class="panel-heading">
          Instructions for preparing
        </p>
        <p class="panel-tabs">

          <% recipe.instructions.each do |instruction| %>
            <ul>
              <li>
                <%= instruction.body %>
              </li>
            </ul>
          <% end %>
        </p>

        <footer class="card-footer">
          <%= link_to "Edit/Delete instructions",class: "card-footer-item" %>
        </footer>
      </article>
    <% end %>
</div>



      


 
        

