<div class='container'>
  <%= form_with url: login_path, scope: :session, local: true do |form| %>
  <div class="columns is-one-quarter">
    <div class="column is-4 is-offset-8">
      <div class="field">
        <div class="control">
          <h1 class="title">Sign In</h1>
          <%= form.label :user_name, class: "label" %>
          <%= form.text_field :user_name, class: "input", placeholder: "User name" %>
        </div>
      </div>
      <div class='field'>
        <div class="control">
          <%= form.label :email, class: "label" %>
          <%= form.email_field :email, class: "input", placeholder: "Email address" %>
        </div>
      </div>
      <div class='field'>
        <div class="control">
          <%= form.label :password, class: "label" %>
          <%= form.password_field :password, class: "input", placeholder: "Password" %>
        </div>
      </div>
      <%= form.submit "Log in", class: "button is-link is-light"%>
    </div>
  </div>
  <%end%>
</div>
    <div class="col-sm-4">
      <%= render 'components/errors', model: @user %>
      <%= render 'components/form', model: @user , button_name: "Sign up", heading: "Sign up", new: true %>
    </div>
  </div>
</div>
