<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://github.com/gzim921">
      <img src="https://logos-download.com/wp-content/uploads/2019/06/Allrecipes_Logo_horizontally-700x256.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Home", root_path, class: "navbar-item" %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            <%= link_to 'New Recipe', new_recipe_path, class: "button is-primary" %>
            <%= link_to "Sign up", users_signup_path, class: "button is-primary" %>
            <%= link_to "Sign in", login_path, class: "button is-light" %>
            <%= link_to "Sign out", logout_path, class: "button is-light" %>
        </div>
      </div>
    </div>
  </div>
</nav>

